/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #050f07;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.project {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #111211;
    color: white;
    text-align: center;
    padding:  0.1px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
.side-side{
    display: flex;
    text-align: left;
    text-align: justify;
    text-align: center;
    padding-top: 30px;
    
}
.text{
    text-align: right;
    padding-left: 20;
}
.contact{
    padding-bottom: 20px;
}
.imgg{
    width:50vh;
    height: 50vh;
    border-color: black;
    position: relative;
    margin: 20px;
    padding: left 100px;
    border: 5px solid;
    border-radius: 10px;
}